#banner{
    width: 100%;
    height: 50%;
    background: url("https://wallpaperaccess.com/full/767352.jpg");
    background-size: cover;
    padding: 20px;
    left:0;
    margin-top: 10px;
    

}

#bannerr{
    text-align: center;
    margin-top: -22%;
    height: 50%;

}

#India{
    margin-top: 33%;

}



body{
    
    
    overflow-x: hidden;
    background-color: lightgray;
}

.lunu{

    list-style: none;
    z-index: 10;
    margin:0;
    top:0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: pink;
    padding-top: 15px;
    height: 7%;
}



.lunu a{
    text-decoration:none;
    color:#d50a0a;
  
   }
   .lunu a:hover{
  border-bottom: 2px solid rgb(23, 1, 1);
   
  }


.link{
 
    float: left;
    padding-left: 150px;
    padding-right: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: yellow;
  
}


#text{
    position: absolute;
    top:35%;
    left:40%;
    font-size: 30px;
    transform: translate(-50% -50%);
    text-shadow: 10px 10px 10px black ;
    color:orange;
}

.imgg img{

    height: 100px;
    width:100px;


}


#India h1{
    text-align: center;
    font-size: 40px;
     color:rgb(47, 58, 107);
    font-family:cursive;
    
}

#India p{
    font-size: 20px;
    font-weight: bold;
    
}

#India:hover{
    background-color: forestgreen;
}



#China h1{
    text-align: center;
    font-size: 40px;
     color:rgb(47, 58, 107);
    font-family:cursive;
    
}

#China p{
    font-size: 20px;
    font-weight: bold;
    
}

#China:hover{
    background-color: forestgreen;
}


#Italy h1{
    text-align: center;
    font-size: 40px;
     color:rgb(47, 58, 107);
    font-family:cursive;
    
}

#Italy p{
    font-size: 20px;
    font-weight: bold;
    
}

#Italy:hover{
    background-color: forestgreen;
}




#China h1{
    text-align: center;
    font-size: 40px;
     color:rgb(47, 58, 107);
    font-family:cursive;
    
}

#China p{
    font-size: 20px;
    font-weight: bold;
    
}

#China:hover{
    background-color: forestgreen;
}




#Mexico h1{
    text-align: center;
    font-size: 40px;
     color:rgb(47, 58, 107);
    font-family:cursive;
    
}

#Mexico p{
    font-size: 20px;
    font-weight: bold;
    
}

#Mexico:hover{
    background-color: forestgreen;
}


#Japan h1{
    text-align: center;
    font-size: 40px;
     color:rgb(47, 58, 107);
    font-family:cursive;
    
}

#Japan p{
    font-size: 20px;
    font-weight: bold;
    
}

#Japan:hover{
    background-color: forestgreen;
}



.indiaa{
    width: 100%;
    height: 50%;

}



#texxt{
    font-size: 40px;
    font-family: "Itim", cursive;
    color: blue;

}



.indiafood{

  
    width: 100%;
    background-color: pink;

    
}

.imageee img{

    height:50%;
    width:35%;
}

.main{
    display:flex;
    flex-direction:row;
    margin: 10px;
    border-radius: 100px;
}





.video iframe{
    border-radius: 10000000000000px;
}




.recipe p{
    font-size: 21px;


}




.indiafood h1{
    font-size:50px;
    color:green;
    font-family: "Itim", cursive;
    text-decoration: underline;

}

button{
    height:40px;
    width:50px;
}


           
#c_bannerr{
    text-align: center;
    margin-top: -22%;
    height: 50%;

}   

#c_texxt{
    font-size: 40px;
    font-family: "Itim", cursive;
    color: black;
    margin-left: -20%;

}

.contact{
    font-size: 40px;
    text-align: center;
    background-color:   coral;
   width: 100%;
   margin:0;
   left:0;
}